
.header{
    text-align: center;
}
.mainname{
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    background-color: darkgrey;
}
a:hover{
    color: crimson;
}

.menumain a{
    font-size: 20px;
    text-align: center;
    display: inline;
    border:  3px solid black;
    margin-left: 50px;
    text-decoration: none;
    background-color: burlywood;
}
.menumain{
    background-color: darkgrey;
}
/*BEGIN иконки для меню*/
.maina{
    background-image: url();
}
.newsa{

}
.contactsa{

}
/*иконки для меню END*/
.content{
text-align: center;
}
/*BEGIN Блоки с картинками в контенте*/
.condivpic{
    border: 2px solid black;
    border-left-color: darkred;
    border-right-color: darkred;
    margin-top: 2px;
    display: inline-block;
    width: 300px;
    height: 300px;
    
}
/*END Блоки с картинками в контенте*/